<div class="col-lg-4 col-sm-4" id="form-print-container">
	<div>
		<a data-toggle="tooltip" data-placement="bottom" title="This is for any printable medium: posters, banners, flyers, bus ads, t-shirts, you name it!" class="form-selector" id="form-print-selector"><h2 class="form-label">Print</h2></a>
	</div>
</div>
<div class="col-lg-4 col-sm-4" id="form-plaza-container">
	<div>
		<a data-toggle="tooltip" data-placement="bottom" title="This is for those fancy wooden boards out on the Bryan Center Plaza!" class="form-selector" id="form-plaza-selector"><h2 class="form-label">Plaza</h2></a>
	</div>
</div>
<div class="col-lg-4 col-sm-4" id="form-web-container">
	<div>
		<a data-toggle="tooltip" data-placement="bottom" title="This is for web design consultations and when you want a sleek and sexy website designed." class="form-selector" id="form-web-selector"><h2 class="form-label">Web</h2></a>
	</div>
</div>
<div class="col-6 col-lg-6 pull-left back" id="choose-project-back">
	<h3><i class="icon-double-angle-left back-arrow" id="back-arrow"></i>Back</h3>
</div>
<div class="col-6 col-lg-6 pull-right next" id="choose-project-next">
	<h3>Next<i class="icon-double-angle-down next-arrow" id="choose-next"></i></h3>
</div>
