<div class="col-12">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="input-org-description" class="col-lg-4 control-label">Briefly describe your organization</label>
			<div class="col-lg-7">
				<textarea class="form-control" id="input-org-description" rows="3"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="input-project-direction" class="col-lg-4 control-label">What are you publicizing? Who are you targeting? What is the purpose of the product you are requesting?</label>
			<div class="col-lg-7">
				<textarea type="text" class="form-control" id="input-project-direction" rows="3"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="input-project-details" class="col-lg-4 control-label">Describe how you would like your product to look and what text you would like to include</label>
			<div class="col-lg-7">
				<textarea type="email" class="form-control" id="input-project" rows="3"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="input-file-upload" class="col-lg-4 control-label">Attach any relevant files here</label>
			<div class="col-lg-7">
				<input type="file" id="input-file-upload">
			</div>
		</div>
	</form>
</div>
<div class="col-6 col-lg-6 pull-right next">
	<h3>Next<i class="icon-double-angle-down next-arrow" id="details-next"></i></h3>
</div>