<div class="col-12">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="input-due-date" class="col-lg-4 control-label">By what date must you have your product in hand?</label>
			<div class="col-lg-7">
				<input type="date" class="form-control" id="input-due-date"></input>
			</div>
		</div>
		<div class="form-group">
			<div class="checkbox">
				<label><input type="checkbox">I understand that DiDA has a 2 week (10 business day) minimum turnaround for logo designs and a 1 week (5 business day) minimum turnaround for other print designs.</label>
			</div>
		</div>
	</form>
</div>
<div class="col-6 col-lg-6 submit pull-right">
	<h3>Submit<i class="icon-double-angle-right submit-arrow"></i></h3>
</div>