<div class="col-12">
	<form class="form-horizontal col-4">
		<div class="checkbox">
			<label><input type="checkbox">Poster</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox">Flyer</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox">Leaflet</label>
		</div>
	</form>
	<form class="form-horizontal col-4">
		<div class="checkbox">
			<label><input type="checkbox">Banner</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox">The Chronicle Ad</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox">Dining Hall Table Tents</label>
		</div>
	</form>
	<form class="form-horizontal col-4">
		<div class="checkbox">
			<label><input type="checkbox">Bus Ad</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox">T-Shirt</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox">Logo</label>
		</div>
	</form>
	<form class="form-horizontal col-12">
		<div class="checkbox">
			<label><input type="checkbox">Other</label>
		</div>
	</form>
</div>
<div class="col-6 col-lg-6 pull-right next">
	<h3>Next<i class="icon-double-angle-down next-arrow" id="medium-next"></i></h3>
</div>