<div class="col-12">
	<form class="form-horizontal" data-validate="parsley" id="medium-form">
		<div class="col-4">
		<div class="checkbox">
			<label><input type="checkbox" data-mincheck="1" data-group="print-check">Poster</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check">Flyer</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check">Leaflet</label>
		</div>
	</div>
	<div class="col-4">
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check">Banner</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check">The Chronicle Ad</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check">Dining Hall Table Tents</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check">Other</label>
		</div>
	</div>
	<div class="col-4">
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check">Bus Ad</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check">T-Shirt</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" data-group="print-check">Logo</label>
		</div>
	</div>
	</form>
</div>
<div class="col-6 col-lg-6 pull-right next" id="project-medium-next">
	<h3>Next<i class="icon-double-angle-down next-arrow"></i></h3>
</div>