<div data-spy="affix" data-offset-top="200">
	<ul>
		<li id="step-1">
			<div>
				<p>Step 1</p>
				<h4>Basic Info</h4>
			</div>
		</li>
		<li id="step-2">
			<div>
				<p>Step 2</p>
				<h4>Project Medium</h4>
			</div>
		</li>
		<li id="step-3">
			<div>
				<p>Step 3</p>
				<h4>Project Details</h4>
			</div>
		</li>
	</ul>
</div>