<div class="navbar navbar-fixed-bottom">
	<div class="container">
		<ul class="nav navbar-nav">
			<li><a href="">About Us</a></li>
			<li><a href="">Our Team</a></li>
			<li><a href="">The Portfolio</a></li>
			<li><a href="">Join Us</a></li>
		</ul>
	</div>
</div>
