<div class="row intro">
	<div class="col-12 welcome">
		<h1 class="welcome-line-1">
			Welcome to the
		</h1>
		<h1 class="welcome-line-2">
			Duke Innovative Design Agency
		</h1>
	</div>
	<div class="col-12">
		<p class="description">
			A student-staffed marketing and design center for student organizations at Duke University
		</p>
	</div>
	<div class="col-12">
		<small>
			<strong>
				As known as DiDA (pronounced dye-dah)
			</strong>
		</small>
	</div>
	<div class="col-12 intro-down">
		<i class="icon-angle-down icon-4x" id="intro-down"></i>
	</div>
</div>
<div class="row why" id="why">
	<h1 class="why-heade-1">Why DiDA?</h1>
	<h1 class="why-header-2">Isn't it obvious?</h1>
	<div class="col-6">
		<img src="http://placekitten.com/200/300">
		<p>We're freakin' talented. Satisfaction guaranteed.</p>
	</div>
	<div class="col-6">
		<img src="http://placekitten.com/200/300">
		<p>Our services are free to undergraduate student organizations.</p>
	</div>
</div>
<div class="cta pull-right">
	<a href="/form" class="cta-text">
		<small>
			<strong>
				Know what you want?
				<br>
				Click here to get started!
			</strong>
		</small>
	</a>
	<a href="/form" class="cta-next"><i class="icon-double-angle-right icon-4x"></i></a>
</div>