<div class="row" id="intro">
	<div class="col-12 welcome">
		<h1 id="welcome-line-1">
			Welcome to the
		</h1>
		<h1 id="welcome-line-2">
			Duke Innovative Design Agency
		</h1>
	</div>
	<div class="col-12">
		<p id="description">
			A student-staffed marketing and design center for student organizations at Duke University
		</p>
	</div>
	<div class="col-12">
		<small>
			<strong>
				As known as DiDA (pronounced dye-dah)
			</strong>
		</small>
	</div>
	<div class="col-12 down">
		<i class="icon-angle-down icon-4x" id="intro-down"></i>
	</div>
</div>
<div class="row" id="mission">
	<div class="col-12" id="mission-hero">
		<h1>This is DiDA's mission.</h1>
		<p class="lead">We strive to be...</p>
	</div>
	<div class="col-lg-4 col-sm-4">
		<h4>...an amazing design service for student organizations at Duke University.</h4>
		<p>
			The DiDA team helps recognized student organizations establish their graphic identities and effectively publicize their programs and events by offering creative Duke-specific branding and marketing solutions. Designers work closely with student organization representatives to determine each group’s marketing needs and preferences.
		</p>
	</div>
	<div class="col-lg-4 col-sm-4">
		<h4>...a supportive learning community for its own passionate designers.</h4>
		<p>
			DiDA creates an environment for its student employees who wish to learn more about marketing and hone their design skills. Through workshops, mentoring, and other resources our student designers have ample opportunity to improve their craft.
		</p>
	</div>
	<div class="col-lg-4 col-sm-4">
		<h4>...an accessible resource for anyone at Duke who wants to know more about design.</h4>
		<p>
			DiDA not only cares for its own designers, but plays a role in spreading an appreciation for visual arts and creativity through design seminars that are open to the entire Duke community.
		</p>
	</div>
	<div class="col-12 down">
		<i class="icon-angle-down icon-4x" id="mission-down"></i>
	</div>
</div>
<div class="row" id="why">
	<div class="col-12">
		<h1>Why DiDA?</h1>
		<p class="lead">Isn't it obvious?</p>
	</div>
	<div class="col-6">
		<img src="satisfaction.svg">
		<p class="why-text">We're freakin' talented.<br>Satisfaction guaranteed.</p>
	</div>
	<div class="col-6">
		<img src="free.svg">
		<p class="why-text">Our services are free to<br>undergraduate student organizations.</p>
	</div>
	<div class="col-12 down">
		<i class="icon-angle-down icon-4x" id="why-down"></i>
	</div>
</div>
<div class="row" id="proof">
	<div class="col-12">
		<h1 class="">Don't believe us?</h1>
		<p class="lead">Take a look at these.</p>
	</div>
	<div class="col-12 down">
		<i class="icon-angle-down icon-4x" id="proof-down"></i>
	</div>
</div>
<div class="row" id="services">
	<div class="col-12">
		<h1>We can design anything.</h1>
		<p class="lead">You name it, we'll design it.</p>
	</div>
	<div class="col-4">
		<h2>Plaza</h2>
	</div>
	<div class="col-4">
		<h2>Print</h2>
		<ul>
			<li>Posters</li>
			<li>Flyers</li>
			<li>Leaflets</li>
			<li>Banners</li>
			<li>The Chronicle Ads</li>
			<li>Dining Hall Table Tents</li>
			<li>Bus Ads</li>
			<li>T-shirts</li>
			<li>Logos</li>
		</ul>
		<small>
			<strong>
				Note: DiDA only takes care of what we does best-- design. We do not offer printing services.
			</strong>
		</small>
	</div>
	<div class="col-4">
		<h2>Web</h2>
	</div>
	<div class="col-12 down">
		<i class="icon-angle-down icon-4x" id="services-down"></i>
	</div>
</div>
<div class="row" id="go">
	<div class="col-12">
		<h1>Got a project for us?</h1>
		<p class="lead">Click here to get started!</p>
		<a href="/form" id="go-link"><i class="icon-double-angle-right icon-4x"></i></a>
	</div>
	<div>
	</div>
</div>
<div class="pull-right" id="cta">
	<a href="/form" id="cta-text">
		<small>
			<strong>
				Know what you want?
				<br>
				Click here to get started!
			</strong>
		</small>
	</a>
	<a href="/form" id="cta-next"><i class="icon-double-angle-right icon-4x"></i></a>
</div>