<div class="window text-center">
	<%= image_tag("/logo.svg") %>
	<br/>
	<br/>
	<p><strong>The Duke Innovative Design Agency is currently restructuring our organization and operations.</strong></p>
	<p><strong>We will not be taking any projects requests until 9/22.</strong></p>
	<p><strong>We apologize for the inconvenience and for any projects we have missed this past few months.</strong></p>
</div>