$off-white: #F2ECEA;
$teal: #324C52;
$green: #606C26;
$coral: #D8704A;

#choose-project {
	text-align: center;
	h1 {
		margin-bottom: 50px;
	}
	.form-selector {
		display: block;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin: auto;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-property: all;
		-webkit-transition-timing-function: ease-in-out;
		&:hover {
			text-decoration: none;
		}
		.form-label {
			text-align: center;
			line-height: 100px;
			background-color: transparent;
			color: $off-white;
		}
	}

	#form-print-selector {
		background-color: $teal;
		border: 1px solid $teal;
		&:hover {
			background-color:
			lighten($teal, 10%);
		}
	}


	#form-plaza-selector {
		background-color: $coral;
		border: 1px solid $coral;
		&:hover {
			background-color:
			lighten($coral, 10%);
		}
	}

	#form-web-selector {
		background-color: $green;
		border: 1px solid $green;
		&:hover {
			background-color:
			lighten($green, 10%);
		}
	}

	.back {
		margin-top: 50px;
		text-align: left;
		display: none;
		#back-arrow {
			margin-right: 10px;
		}
	}

	.next {
		margin-top: 50px;
		text-align: right;
		display: none;
		#next-arrow {
			margin-left: 10px;
		}
	}
}

.back {
	text-align: left;
	h3 {
		margin: 0;
		font-weight: 700;
	}
}

.next {
	text-align: right;
	h3 {
		margin: 0;
		font-weight: 700;
	}
}

.basic-info {
	display: none;
}