$off-white: #F2ECEA;
$charcoal: #333;
$teal: #324C52;
$green: #606C26;
$coral: #D8704A;
$yellow: #DBB327;

#progress-bar {
	display: none;
	text-align: center;
	.affix {
		left: 2%;
		top: 5%;
	}
	.affix-top {
		position: fixed;
		left: 2%;
		top: 5%;
	}
	ul {
		.teal-1 {
			background-color: $teal;
		}
		.teal-2 {
			background-color: darken($teal, 10%);
		}
		.teal-3 {
			background-color: darken($teal, 20%);
		}
		.coral-1 {
			background-color: $coral;
		}
		.coral-2 {
			background-color: darken($coral, 20%);
		}
		.coral-3 {
			background-color: darken($coral, 40%);
		}
		.green-1 {
			background-color: $green;
		}
		.green-2 {
			background-color: darken($green, 10%);
		}
		.green-3 {
			background-color: darken($green, 20%);
		}
		li {
			width: 125px;
			height: 125px;
			border-radius: 50%;
			color: $off-white;
			list-style: none;
			padding: 10px;
			margin: 20px 10px;
			display: table;
			div{
				vertical-align: middle;
				display: table-cell;
				p {
					font-size: 12px;
					font-weight: 700;
				}
				h4 {
					font-size: 14px;
					font-weight: 300;
				}
			}
		}
	}
}

#choose-project {
	text-align: center;
	h1 {
		margin-bottom: 50px;
	}
	.form-selector {
		display: block;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin: auto;
		-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.55);
		-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.55);
		box-shadow: 1px 1px 4px rgba(0,0,0,0.55);	
		-webkit-transition-duration: 0.5s;
		-webkit-transition-property: all;
		-webkit-transition-timing-function: ease-in-out;
		&:hover {
			text-decoration: none;
		}
		.form-label {
			text-align: center;
			line-height: 100px;
			background-color: transparent;
			color: $off-white;
		}
	}

	#form-print-selector {
		background-color: $teal;
		border: 1px solid $teal;
		&:hover {
			background-color:
			lighten($teal, 10%);
		}
	}


	#form-plaza-selector {
		background-color: $coral;
		border: 1px solid $coral;
		&:hover {
			background-color:
			lighten($coral, 10%);
		}
	}

	#form-web-selector {
		background-color: $green;
		border: 1px solid $green;
		&:hover {
			background-color:
			lighten($green, 10%);
		}
	}

	.back {
		display: none;

	}
	.next {
		display: none;
	}
}

#basic-info {
	display: none;
	#plaza-fundcode {
		display: none;
	}
}

#project-medium {
	display: none;
	.checkbox {
		margin: 20px 0;
		label {
			margin: 50%;
			font-size: 14px;
			font-weight: 700;
		}
	}
	.icheckbox_flat-yellow {
		position: absolute;
		left: 40%;
	}
}

#project-details {
	display: none;
	label.col-lg-4 {
		padding-left: 100px;
	}
	#logistics-agreement {
		padding: 0;
	}
	.checkbox {
		margin: 20px 0;
		label {
			font-size: 14px;
			font-weight: 700;
		}
	}
	.icheckbox_flat-yellow {
		position: absolute;
		right: 10%;
	}
}

.form-header {
	margin-bottom: 50px;
	text-align: center;
}

.back {
	text-align: left;
	margin-top: 50px;
	cursor: pointer;
	.back-arrow {
		margin-right: 10px;
	}
	h3 {
		margin: 0;
		font-weight: 700;
	}
}


.next {
	text-align: right;
	margin-top: 50px;
	cursor: pointer;
	&:hover {
		color:
		lighten($charcoal, 20%);
	}	
	.next-arrow {
		margin-left: 10px;
	}
	h3 {
		margin: 0;
		font-weight: 700;
	}
}

.submit {
	text-align: right;
	margin-top: 50px;
	cursor: pointer;
	.submit-arrow {
		margin-left: 10px;
	}
	h3 {
		margin: 0;
		font-weight: 700;
	}
}
.parsley-error-list {
	float: right;
	li {
		list-style: none;
		font-size: 10px;
		font-weight: 900;
	}
}

.form-control {
	&:focus {
		border-color: $yellow;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),  0 0 1px $yellow; 
	}
}