$yellow: #DBB327;
$off-white: #F2ECEA;
$charcoal: #333;

#intro {
	text-align: center;
	.welcome {
		text-transform: uppercase;
		#welcome-line-1 {
			font-weight: 100;
		}
		#welcome-line-2 {
			margin-top: 10px;
			font-weight: 900;
		}
	}
	#description {
		margin-top: 10px;
		font-weight: 300;
	}
}

#mission {
	text-align: center;
	p.lead {
		text-align: center;
	}
	h4 {
		font-weight: 700;
		text-align: left;
	}
	p {
		font-weight: 300;
		text-align: left;
	}
}

#why {
	text-align: center;
	.why-text {
		margin-top: 15px;
	}
}

#proof {
	text-align: center;
}

#services {
	text-align: center;
}

#go {
	text-align: center;
	#go-link {
		color: $charcoal;
		&:hover {
			color:
			lighten($charcoal, 20%);
			text-decoration: none;
		}
	}
}

#cta {
	position: fixed;
	bottom: 80px;
	right: 30px;
	text-align: center;
	display: table; 
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: auto;
	background-color: $yellow;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease-in-out;
	&:hover {
		background-color:
		lighten($yellow, 10%);
	}
	#cta-text {
		display: table-cell; 
		vertical-align: middle; 
		text-align: center;
		background-color: transparent;
		color: $charcoal;
		&:hover {
			text-decoration: none;
			color:
			lighten($charcoal, 20%);
		}
	}
	#cta-next {
		display: none;
		vertical-align: middle;
		color:
		lighten($charcoal, 20%);
		&:hover{
			text-decoration: none;
		}
	}
}

.down {
	margin-top: 5%;
	&:hover {
		color:
		lighten($charcoal, 20%);
	}
}