$yellow: #DBB327;
$off-white: #F2ECEA;
$charcoal: #333;
$teal: #324C52;
$green: #606C26;
$coral: #D8704A;

.home-header {
	margin-bottom: 20px;
}

#intro {
	text-align: center;
	.welcome {
		text-transform: uppercase;
		#welcome-line-1 {
			font-weight: 100;
		}
		#welcome-line-2 {
			margin-top: 10px;
			font-weight: 900;
		}
	}
	#description {
		margin-top: 10px;
		font-weight: 300;
	}
}

#mission {
	text-align: center;
	h1 {
		margin-bottom: 70px;
		text-align: center;
	}
	#mission-content {
		h2 {
			margin: 0;
			font-weight: 500;
			text-align: center;
			font-size: 38px;
		}
		h4 {
			font-size: 16px;
			border-radius: 5px;
			padding: 15px 0;
			font-weight: 500;
			text-align: left;
			line-height: 1.4em;
			margin: 0;
			color: $off-white;
			&:hover {
				text-decoration: none;
			}
		}
		.accordion-group {
			border: none;
			margin-bottom: 5px;
			.mission-bullet {
				padding: 0 0 0 30px;
			}
			.mission-text {
				padding: 0 20px 0 0;
			}
		}
		#mission-group-1 {
			border: 1px solid $teal;
			background-color: $teal;
			#mission-header-1 {
				-webkit-transition-duration: 0.5s;
				-webkit-transition-property: all;
				-webkit-transition-timing-function: ease-in-out;
				&:hover {
					background-color:
					lighten($teal, 10%);
				}
			}
			#mission-line-1 {
				background-color:
				lighten($teal, 10%);
			}
		}
		#mission-group-2 {
			border: 1px solid $coral;
			background-color: $coral;
			#mission-header-2 {
				-webkit-transition-duration: 0.5s;
				-webkit-transition-property: all;
				-webkit-transition-timing-function: ease-in-out;
				&:hover {
					background-color:
					lighten($coral, 5%);
				}
			}
			#mission-line-2 {
				background-color:
				lighten($coral, 5%);
			}
		}
		#mission-group-3 {
			border: 1px solid $green;
			background-color: $green;
			#mission-header-3 {
				&:hover {
					-webkit-transition-duration: 0.5s;
					-webkit-transition-property: all;
					-webkit-transition-timing-function: ease-in-out;
					background-color:
					lighten($green, 10%);
				}
			}
			#mission-line-3 {
				background-color:
				lighten($green, 10%);
			}
		}
		p {
			color: $off-white;
			padding-left: 25px;
			padding-top: 10px;
			padding-right: 20px;
			font-weight: 300;
			text-align: left;
		}
	}

}

#why {
	text-align: center;
	.why-text {
		margin-top: 15px;
	}
}

#proof {
	text-align: center;
}

#services {
	text-align: center;
	#services-content {
		text-align: left;
		.services-group {
			color: $charcoal;
			border-radius: 4px;
			.services-banner-container {
				margin: 0 auto;
				width: 200px;
				position: relative;
				.rectangle {
					height: 60px;
					position: absolute;
					z-index: 500;
					.services-header {
						-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
						-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
						box-shadow: 0px 0px 4px rgba(0,0,0,0.55);

						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
						width: 200px;
						font-weight: 700;
						margin: 0 0 10px;
						text-align: center;
						color: $off-white;
						position: absolute;
						height: 60px;
					}
					#services-header-1 {
						background-color: $teal;
						padding: 10px;
					}
					#services-header-2 {

						background-color: $coral;
						padding: 10px;
					}
					#services-header-3 {
						background-color: $green;
						padding: 10px;
					}
				}
				.services-ribbon-top-1 {
					border-color: darken($teal, 10%) transparent transparent;
				}
				.services-ribbon-bottom-1 {
					border-color: transparent transparent darken($teal, 10%);
				}
				.services-ribbon-top-2 {
					border-color: darken($coral, 20%) transparent transparent;
				}
				.services-ribbon-bottom-2 {
					border-color: transparent transparent darken($coral, 20%);
				}
				.services-ribbon-top-3 {
					border-color: darken($green, 10%) transparent transparent;
				}
				.services-ribbon-bottom-3 {
					border-color: transparent transparent darken($green, 10%);
				}
				.l-triangle-top {
					border-style:solid;
					border-width:50px;
					height:0px;
					width:0px;
					position: absolute;
					float: left;
					top: 2px;
					left: -40px;
				}
				.l-triangle-bottom {
					border-style:solid;
					border-width:50px;
					height:0px;
					width:0px;
					position: absolute;
					float: left;
					top: -42px;
					left: -50px;
				}
				.r-triangle-top {
					border-style:solid;
					border-width:50px;
					height:0px;
					width:0px;
					position: absolute;
					float: right;
					top: 2px;
					right: -40px;
				}
				.r-triangle-bottom {
					border-style:solid;
					border-width:50px;
					height:0px;
					width:0px;
					position: absolute;
					float: right;
					top: -42px;
					right: -50px;
				}
			}
			.services-content {
				margin-top: 80px;
			}
		}
	}
}

#go {
	text-align: center;
	#go-link {
		color: $charcoal;
		&:hover {
			color:
			lighten($charcoal, 20%);
			text-decoration: none;
		}
	}
}

#cta {
	position: fixed;
	bottom: 80px;
	right: 30px;
	text-align: center;
	display: table; 
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: auto;
	border: 1px solid $yellow;
	background-color: $yellow;
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.55);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.55);	
	&:hover {
		background-color:
		lighten($yellow, 10%);
	}
	&:active {
		box-shadow: 0;
	}
	#cta-text {
		display: table-cell; 
		vertical-align: middle; 
		text-align: center;
		background-color: transparent;
		color: $charcoal;
		&:hover {
			text-decoration: none;
			color:
			lighten($charcoal, 20%);
		}
	}
	#cta-next {
		display: none;
		vertical-align: middle;
		color:
		lighten($charcoal, 20%);
		&:hover{
			text-decoration: none;
		}
	}
}

.down {
	margin-top: 5%;
	cursor: pointer;
	&:hover {
		color:
		lighten($charcoal, 20%);
	}
}