$off-white: #F2ECEA;

html, body {
	font-family: 'Lato', sans-serif;
	background-color: $off-white;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-weight: 700;
	font-size: 4.5em;
}

p.lead {
	font-size: 3em;
	font-weight: 300;
}

.row {
	margin-left: 0;
	margin-right: 0;
}