$yellow: #F1C40F;
$charcoal: #333;
$off-white: #F2ECEA;

.thanks {
	color: $charcoal;
	li {
		a {
			color: $charcoal;
			display: inline;
		}
	}
}

.navbar-inverse {
	background-color: $charcoal;
	a {
		color: #999999;
		&:hover {
			text-decoration: none;
			color: $yellow;
		}
	}
	.navbar-nav {
		li {
			color: $off-white;
			a {
				color: $off-white;
				&:hover {
					color: $yellow;
				}
			}
		}

	}
}