.thanks {
	color: $charcoal;
	li {
		padding: 5px 5px;
		font-size: 10px;
		border-bottom: 1px solid $charcoal;
		color: $charcoal !important;
		a {
			padding: 0;
			color: $charcoal !important;
			display: inline;
		}
	}
}

.navbar-inverse {
	background-color: $charcoal;
	a {
		color: #999999;
		&:hover {
			text-decoration: none;
			color: $yellow;
		}
	}
	.navbar-nav {
		li {
			color: $off-white;
			a {
				color: $off-white;
				&:hover {
					color: $yellow;
				}
			}
		}

	}
}