$yellow: #F1C40F;
$charcoal: #333;
$off-white: #F2ECEA;

.navbar-inverse {
	background-color: $charcoal;
	.navbar-nav {
		li {
			a {
				color: $off-white;
				&:hover {
					color: $yellow;
				}
			}
		}

	}
}