<div class="row" id="mission">
	<div class="col-12">
		<h1>This the DiDA mission.</h1>
	</div>
	<div class="row" id="mission-content">
		<div class="col-lg-6 pull-left" id="mission-subhero">
			<h2 id="mission-subhero-text">We strive to be...</h2>
		</div>
		<div class="accordion col-lg-6 pull-right" id="mission-text">
			<div class="accordion-group mission-group" id="mission-group-1">
				<div class="accordion-heading" id="mission-header-1">
					<h4 class="accordion-toggle" data-toggle="collapse" data-parent="#mission-text" data-target="#mission-line-1">
						<div class="row">
							<div class="col-1 mission-bullet">
								<i class="icon-caret-right"></i>
							</div>
							<div class="mission-text col-11">
								an amazing design service for student organizations at Duke.
							</div>
						</div>
					</h4>
				</div>
				<div id="mission-line-1" class="accordion-body collapse">
					<div class="accordion-inner">
						<p>
							DiDA helps recognized student organizations establish their graphic identities and publicize their programs and events by offering creative Duke-specific branding and marketing solutions. Designers work with student organization representatives to determine each group’s marketing needs and preferences.
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-group mission-group" id="mission-group-2">
				<div class="accordion-heading" id="mission-header-2">
					<h4 class="accordion-toggle" data-toggle="collapse" data-parent="#mission-text" data-target="#mission-line-2">
						<div class="row">
							<div class="col-1 mission-bullet">
								<i class="icon-caret-right"></i>
							</div>
							<div class="mission-text col-11">
								a supportive learning community for its own passionate designers.
							</div>
						</div>
					</h4>
				</div>
				<div id="mission-line-2" class="accordion-body collapse">
					<div class="accordion-inner">
						<p>
							DiDA creates an environment for its student employees who wish to learn more about marketing and hone their design skills. Through workshops, mentoring, and other resources our student designers have ample opportunity to improve their craft.
						</p>      
					</div>
				</div>
			</div>
			<div class="accordion-group mission-group" id="mission-group-3">
				<div class="accordion-heading" id="mission-header-3">
					<h4 class="accordion-toggle" data-toggle="collapse" data-parent="#mission-text" data-target="#mission-line-3">
						<div class="row">
							<div class="col-1 mission-bullet">
								<i class="icon-caret-right"></i>
							</div>
							<div class="mission-text col-11">
								a resource for those at Duke who want to know more about design.
							</div>
						</div>
					</h4>
				</div>
				<div id="mission-line-3" class="accordion-body collapse">
					<div class="accordion-inner">
						<p>
							DiDA not only cares for its own designers, but plays a role in spreading an appreciation for visual arts and creativity through design seminars that are open to the entire Duke community.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-2 col-offset-5 down">
			<i class="icon-angle-down icon-4x" id="mission-down"></i>
		</div>
	</div>
</div>